# University Rankings Database Operations

This notebook demonstrates CRUD (Create, Read, Update, Delete) operations on a SQLite database containing university rankings data from 2012 to 2015.

## 1. Database Connection Setup

First, let's import the required libraries and establish a connection to our SQLite database.

In [31]:
import sqlite3
import pandas as pd
from typing import List, Tuple, Any

def connect_to_db(db_path: str) -> sqlite3.Connection:
    """Establish a connection to the SQLite database."""
    try:
        conn = sqlite3.connect(db_path)
        print("Successfully connected to the database!")
        return conn
    except sqlite3.Error as e:
        print(f"Error connecting to database: {e}")
        raise

# Connect to the database
db_path = "university_database.db"
conn = connect_to_db(db_path)

Successfully connected to the database!

## 2. Data Exploration and Basic Analysis

Let's explore the database structure and perform some basic analysis on the university rankings data.

In [23]:

def explore_database(conn: sqlite3.Connection) -> None:
    """Explore the database structure and show basic statistics."""
    cursor = conn.cursor()
    
    # Get table information
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    print("Tables in the database:")
    for table in tables:
        print(f"- {table[0]}")
        
    # Sample the data
    cursor.execute(f"SELECT * FROM university_rankings LIMIT 5;")
    columns = [description[0] for description in cursor.description]
    rows = cursor.fetchall()
    
    print("\nTable structure:")
    print("Columns:", columns)
    print("\nSample data:")
    for row in rows:
        print(row)

# Explore the database
explore_database(conn)

# Basic statistics
query = """
SELECT 
    year,
    COUNT(*) as total_universities,
    AVG(score) as avg_score,
    MIN(score) as min_score,
    MAX(score) as max_score
FROM university_rankings
GROUP BY year
ORDER BY year;
"""

df = pd.read_sql_query(query, conn)
print("\nBasic statistics by year:")
print(df)

Tables in the database:
- university_rankings

Table structure:
Columns: ['world_rank', 'institution', 'country', 'national_rank', 'quality_of_education', 'alumni_employment', 'quality_of_faculty', 'publications', 'influence', 'citations', 'broad_impact', 'patents', 'score', 'year']

Sample data:
(1, 'Harvard University', 'USA', 1, 7, 9, 1, 1, 1, 1, '', 5, 100.0, 2012)
(2, 'Massachusetts Institute of Technology', 'USA', 2, 9, 17, 3, 12, 4, 4, '', 1, 91.67, 2012)
(3, 'Stanford University', 'USA', 3, 17, 11, 5, 4, 2, 2, '', 15, 89.5, 2012)
(4, 'University of Cambridge', 'United Kingdom', 1, 10, 24, 4, 16, 16, 11, '', 50, 86.17, 2012)
(5, 'California Institute of Technology', 'USA', 4, 2, 29, 7, 37, 22, 22, '', 18, 85.21, 2012)

Basic statistics by year:
   year  total_universities  avg_score  min_score  max_score
0  2012                 100   54.94090      43.36      100.0
1  2013                 100   55.27120      44.26      100.0
2  2014                1000   47.27141      44.18      100.0
3  2015                1000   46.86385      44.02      100.0

## 3. Insert Operations

Let's add Duke Tech to the rankings for 2014.

In [25]:
def insert_university(conn: sqlite3.Connection, 
                     institution: str, 
                     country: str, 
                     year: int, 
                     world_rank: int, 
                     score: float) -> None:
    """Insert a new university into the rankings database."""
    cursor = conn.cursor()
    try:
        cursor.execute("""
            INSERT INTO university_rankings (institution, country, year, world_rank, score)
            VALUES (?, ?, ?, ?, ?);
        """, (institution, country, year, world_rank, score))
        conn.commit()
        print(f"Successfully inserted {institution} into the university_rankings for {year}")
    except sqlite3.Error as e:
        print(f"Error inserting data: {e}")
        conn.rollback()

# Insert Duke Tech's 2014 ranking
insert_university(
    conn,
    institution="Duke Tech",
    country="USA",
    year=2014,
    world_rank=350,
    score=60.5
)

# Verify the insertion
cursor = conn.cursor()
cursor.execute("""
    SELECT * FROM university_rankings 
    WHERE institution = 'Duke Tech' 
    AND year = 2014;
""")
result = cursor.fetchone()
print("\nVerification - Inserted Data:")
print(result)

Successfully inserted Duke Tech into the university_rankings for 2014

Verification - Inserted Data:
(350, 'Duke Tech', 'USA', None, None, None, None, None, None, None, None, None, 60.5, 2014)

## 4. Query Operations

Let's find out how many Japanese universities are in the top 200 for 2013.

In [26]:
def count_top_universities(conn: sqlite3.Connection, 
                          country: str, 
                          year: int, 
                          rank_limit: int) -> int:
    """Count universities from a specific country in top N for a given year."""
    cursor = conn.cursor()
    cursor.execute("""
        SELECT COUNT(*) 
        FROM university_rankings
        WHERE country = ? 
        AND year = ?
        AND world_rank <= ?;
    """, (country, year, rank_limit))
    return cursor.fetchone()[0]

# Count Japanese universities in top 200 for 2013
japan_count = count_top_universities(conn, "Japan", 2013, 200)
print(f"Number of Japanese universities in the global top 200 in 2013: {japan_count}")

# Show the details of these universities
cursor = conn.cursor()
cursor.execute("""
    SELECT institution, world_rank, score
    FROM university_rankings
    WHERE country = 'Japan'
    AND year = 2013
    AND world_rank <= 200
    ORDER BY world_rank;
""")
print("\nDetails of Japanese universities in top 200 (2013):")
for uni in cursor.fetchall():
    print(f"Institution: {uni[0]}, Rank: {uni[1]}, Score: {uni[2]}")

Number of Japanese universities in the global top 200 in 2013: 6

Details of Japanese universities in top 200 (2013):
Institution: University of Tokyo, Rank: 14, Score: 76.23
Institution: Kyoto University, Rank: 15, Score: 69.46
Institution: Osaka University, Rank: 35, Score: 52.79
Institution: Keio University, Rank: 70, Score: 47.05
Institution: Nagoya University, Rank: 91, Score: 44.78
Institution: Tohoku University, Rank: 95, Score: 44.52

## 5. Update Operations

Let's update the University of Oxford's score for 2014 by adding 1.2 points.

In [27]:
def update_university_score(conn: sqlite3.Connection,
                          institution: str,
                          year: int,
                          score_change: float) -> None:
    """Update a university's score by adding the specified amount."""
    cursor = conn.cursor()
    
    # First get the current score
    cursor.execute("""
        SELECT score 
        FROM university_rankings 
        WHERE institution = ? 
        AND year = ?;
    """, (institution, year))
    current_score = cursor.fetchone()
    
    if current_score is None:
        print(f"No record found for {institution} in {year}")
        return
    
    # Update the score
    try:
        cursor.execute("""
            UPDATE university_rankings 
            SET score = score + ? 
            WHERE institution = ? 
            AND year = ?;
        """, (score_change, institution, year))
        conn.commit()
        print(f"Successfully updated {institution}'s score for {year}")
        
        # Show the change
        cursor.execute("""
            SELECT score 
            FROM university_rankings 
            WHERE institution = ? 
            AND year = ?;
        """, (institution, year))
        new_score = cursor.fetchone()[0]
        print(f"Old score: {current_score[0]}, New score: {new_score}")
    except sqlite3.Error as e:
        print(f"Error updating score: {e}")
        conn.rollback()

# Update University of Oxford's score
update_university_score(conn, "University of Oxford", 2014, 1.2)

Successfully updated University of Oxford's score for 2014
Old score: 97.51, New score: 98.71000000000001

## 6. Delete Operations

Let's remove universities with scores below 45 in 2015.

In [29]:
def delete_low_scoring_universities(conn: sqlite3.Connection,
                               year: int,
                               score_threshold: float) -> None:
    """Delete universities with scores below the threshold for a given year."""
    cursor = conn.cursor()
    
    # First, let's see how many universities will be affected
    cursor.execute("""
        SELECT COUNT(*) 
        FROM university_rankings 
        WHERE year = ? 
        AND score < ?;
    """, (year, score_threshold))
    count = cursor.fetchone()[0]
    
    # Show the universities that will be deleted
    cursor.execute("""
        SELECT institution, score 
        FROM university_rankings 
        WHERE year = ? 
        AND score < ?;
    """, (year, score_threshold))
    to_be_deleted = cursor.fetchall()
    
    print(f"Found {count} universities with scores below {score_threshold} in {year}")
    print("\nUniversities to be removed:")
    for uni in to_be_deleted:
        print(f"- {uni[0]} (Score: {uni[1]})")
    
    # Perform the deletion
    try:
        cursor.execute("""
            DELETE FROM university_rankings 
            WHERE year = ? 
            AND score < ?;
        """, (year, score_threshold))
        conn.commit()
        print(f"\nSuccessfully removed {count} universities")
    except sqlite3.Error as e:
        print(f"Error deleting records: {e}")
        conn.rollback()

# Delete universities with scores below 45 in 2015
delete_low_scoring_universities(conn, 2015, 45.0)

# Verify the deletion
cursor = conn.cursor()
cursor.execute("""
    SELECT MIN(score) 
    FROM university_rankings 
    WHERE year = 2015;
""")
min_score = cursor.fetchone()[0]
print(f"\nVerification - Minimum score in 2015 after deletion: {min_score}")

Found 556 universities with scores below 45.0 in 2015

Universities to be removed:
- University of Dayton (Score: 44.99)
- University of Siena (Score: 44.98)
- University of Oulu (Score: 44.96)
- Indian Institute of Science (Score: 44.96)
- Macquarie University (Score: 44.96)
- University of Rostock (Score: 44.96)
- Jagiellonian University (Score: 44.94)
- Pusan National University (Score: 44.94)
- University of Strathclyde (Score: 44.94)
- University of Nevada, Reno (Score: 44.93)
- University of Saskatchewan (Score: 44.92)
- University of Parma (Score: 44.92)
- Kanazawa University (Score: 44.92)
- Eötvös Loránd University (Score: 44.92)
- Aristotle University of Thessaloniki (Score: 44.92)
- Ohio University (Score: 44.91)
- University of Iceland (Score: 44.91)
- University of Warsaw (Score: 44.91)
- Syracuse University (Score: 44.91)
- Bielefeld University (Score: 44.91)
- Juntendo University (Score: 44.9)
- University of Wyoming (Score: 44.89)
- University of Wollongong (Score: 44.88)
- Niigata University (Score: 44.88)
- Texas Tech University (TTU) (Score: 44.87)
- Middle East Technical University (Score: 44.87)
- École normale supérieure de Lyon (Score: 44.87)
- Brunel University (Score: 44.86)
- Nihon University (Score: 44.86)
- Osaka City University (Score: 44.86)
- University of Rennes 1 (Score: 44.86)
- University of Oklahoma Health Sciences Center (Score: 44.86)
- East China University of Science and Technology (Score: 44.86)
- University of KwaZulu-Natal (Score: 44.85)
- Sichuan University (Score: 44.85)
- Illinois Institute of Technology (Score: 44.85)
- Tokyo University of Science (Score: 44.84)
- University of Science, Malaysia (Score: 44.84)
- Clemson University (Score: 44.83)
- University of Zaragoza (Score: 44.83)
- University of the Basque Country (Score: 44.83)
- Nagasaki University (Score: 44.82)
- Technical University of Dortmund (Score: 44.82)
- University of Hawaii at Manoa (Score: 44.82)
- University of Nebraska Omaha (Score: 44.81)
- University of Konstanz (Score: 44.81)
- Panjab University (Score: 44.8)
- University of Hanover (Score: 44.8)
- University of Maryland, Baltimore County (Score: 44.8)
- University of Newcastle (Score: 44.79)
- University of Ulsan (Score: 44.79)
- Renmin University of China (Score: 44.79)
- Martin Luther University of Halle-Wittenberg (Score: 44.79)
- University of Malaya (Score: 44.79)
- University of Savoy (Score: 44.79)
- University of Udine (Score: 44.78)
- Tokyo Metropolitan University (Score: 44.78)
- University of Sherbrooke (Score: 44.77)
- University of Brescia (Score: 44.77)
- University of Ljubljana (Score: 44.77)
- University of Nice Sophia Antipolis (Score: 44.75)
- University of Hull (Score: 44.75)
- University of Coimbra (Score: 44.75)
- Creighton University (Score: 44.75)
- Georgia State University (Score: 44.74)
- University of Wisconsin–Milwaukee (Score: 44.74)
- Catholic University of Korea (Score: 44.74)
- University of Tokushima (Score: 44.73)
- Yokohama City University (Score: 44.73)
- Lanzhou University (Score: 44.72)
- University of Crete (Score: 44.72)
- SUNY Downstate Medical Center (Score: 44.72)
- University of Potsdam (Score: 44.72)
- Yokohama National University (Score: 44.72)
- New Mexico State University (Score: 44.71)
- University of Bayreuth (Score: 44.71)
- Bar-Ilan University (Score: 44.71)
- University of Mississippi - Oxford Campus (Score: 44.7)
- University of Tasmania (Score: 44.7)
- Graduate University for Advanced Studies (Score: 44.7)
- University of Surrey (Score: 44.7)
- Federal University of Minas Gerais (Score: 44.7)
- University of Tromsø - The Arctic University of Norway (Score: 44.7)
- University of Palermo (Score: 44.7)
- Shinshu University (Score: 44.7)
- University of Science and Technology Beijing (Score: 44.7)
- University of Catania (Score: 44.69)
- Mahidol University (Score: 44.69)
- University of Canterbury (Score: 44.68)
- Indian Institute of Technology Madras (Score: 44.68)
- University of Bremen (Score: 44.68)
- Otto-von-Guericke University Magdeburg (Score: 44.68)
- University of Tartu (Score: 44.68)
- University of Windsor (Score: 44.68)
- University of Nantes (Score: 44.67)
- Royal Holloway, University of London (Score: 44.67)
- James Cook University (Score: 44.67)
- National Yang-Ming University (Score: 44.65)
- University of Akron (Score: 44.65)
- National Chung Hsing University (Score: 44.65)
- City University London (Score: 44.64)
- New York Medical College (Score: 44.64)
- Nara Institute of Science and Technology (Score: 44.63)
- École Centrale Paris (Score: 44.63)
- Auburn University (Score: 44.63)
- University of Arkansas - Fayetteville (Score: 44.62)
- University of Zagreb (Score: 44.62)
- University of Lübeck (Score: 44.62)
- Hunan University (Score: 44.62)
- University of Missouri–Kansas City (Score: 44.61)
- Tokyo Women's Medical University (Score: 44.61)
- Montana State University - Bozeman (Score: 44.61)
- University of Aveiro (Score: 44.61)
- National University of Ireland, Galway (Score: 44.61)
- University of Oviedo (Score: 44.61)
- Dongguk University (Score: 44.61)
- University of Trento (Score: 44.61)
- University Lille 1: Sciences and Technologies (Score: 44.6)
- Chang Gung University (Score: 44.6)
- National Central University (Score: 44.6)
- Aalborg University (Score: 44.59)
- Utah State University (Score: 44.59)
- Baylor University (Score: 44.59)
- Bangor University (Score: 44.59)
- King Saud University (Score: 44.59)
- University of Cagliari (Score: 44.59)
- Kent State University (Score: 44.58)
- Central China Normal University (Score: 44.58)
- University of Fribourg (Score: 44.58)
- Medical University of Graz (Score: 44.58)
- Second University of Naples (Score: 44.57)
- International School for Advanced Studies (Score: 44.57)
- Tampere University of Technology (Score: 44.56)
- Inha University (Score: 44.56)
- Deakin University (Score: 44.56)
- National Polytechnic Institute of Toulouse (Score: 44.56)
- Sogang University (Score: 44.56)
- University of Ioannina (Score: 44.55)
- Federal University of Rio Grande do Sul (Score: 44.55)
- University of Graz (Score: 44.54)
- University of Montana - Missoula (Score: 44.54)
- East China Normal University (Score: 44.54)
- Plymouth University (Score: 44.54)
- Victoria University of Wellington (Score: 44.54)
- Federal University of São Paulo (Score: 44.53)
- Southern Illinois University Carbondale (Score: 44.53)
- University of Alaska Fairbanks (Score: 44.53)
- University of Toledo (Score: 44.53)
- Carleton University (Score: 44.53)
- Cranfield University (Score: 44.52)
- Curtin University (Score: 44.52)
- Indian Institute of Technology Bombay (Score: 44.52)
- University of Portsmouth (Score: 44.52)
- Osaka Prefecture University (Score: 44.52)
- Nagoya City University (Score: 44.52)
- LSU Health Sciences Center New Orleans (Score: 44.52)
- Tata Institute of Fundamental Research (Score: 44.51)
- Konkuk University (Score: 44.51)
- University of La Laguna (Score: 44.51)
- University of Hertfordshire (Score: 44.51)
- Florida International University (Score: 44.5)
- University of Rhode Island (Score: 44.5)
- Mississippi State University (Score: 44.5)
- Gunma University (Score: 44.5)
- University of New Orleans (Score: 44.5)
- Putra University, Malaysia (Score: 44.49)
- Memorial University of Newfoundland (Score: 44.49)
- Universidade Nova de Lisboa (Score: 44.49)
- Griffith University (Score: 44.49)
- Indian Institute of Technology Kharagpur (Score: 44.49)
- Soochow University (Suzhou) (Score: 44.49)
- Texas A&M Health Science Center (Score: 44.49)
- Semmelweis University (Score: 44.48)
- Lille 2 University of Health and Law (Score: 44.48)
- Kagoshima University (Score: 44.48)
- Flinders University (Score: 44.48)
- Queensland University of Technology (Score: 44.48)
- Tokai University (Score: 44.48)
- Istanbul University (Score: 44.48)
- Tokyo University of Agriculture and Technology (Score: 44.47)
- Louisiana Tech University (Score: 44.47)
- University of Texas at Arlington (Score: 44.47)
- China Agricultural University (Score: 44.47)
- Chungnam National University (Score: 44.47)
- University of Minho (Score: 44.46)
- University of Eastern Piedmont Amedeo Avogadro (Score: 44.46)
- Open University (UK) (Score: 44.46)
- University of Essex (Score: 44.45)
- Paris-Est Créteil Val-de-Marne University (Score: 44.45)
- Hacettepe University (Score: 44.45)
- State University of New York Upstate Medical University (Score: 44.45)
- Braunschweig University of Technology (Score: 44.44)
- University of Salamanca (Score: 44.44)
- Indian Institute of Technology Roorkee (Score: 44.44)
- Örebro University (Score: 44.44)
- Northeast Normal University (Score: 44.44)
- University of Patras (Score: 44.44)
- Beijing University of Chemical Technology (Score: 44.44)
- Northern Illinois University (Score: 44.44)
- Rovira i Virgili University (Score: 44.44)
- La Trobe University (Score: 44.44)
- Warsaw University of Technology (Score: 44.43)
- Binghamton University (Score: 44.43)
- Shizuoka University (Score: 44.43)
- Hong Kong Baptist University (Score: 44.43)
- Albany Medical College (Score: 44.43)
- Ehime University (Score: 44.43)
- University of Los Andes (Colombia) (Score: 44.43)
- Polytechnic University of Turin (Score: 44.43)
- University of Burgundy (Score: 44.42)
- University of Idaho (Score: 44.42)
- Old Dominion University (Score: 44.42)
- Yamaguchi University (Score: 44.42)
- Massey University (Score: 44.42)
- Donghua University (Score: 44.41)
- University of the Balearic Islands (Score: 44.41)
- Portland State University (Score: 44.41)
- Marche Polytechnic University (Score: 44.41)
- University of Québec at Montreal (Score: 44.41)
- UNESP, São Paulo State University (Score: 44.41)
- Loma Linda University (Score: 44.41)
- University of Toyama (Score: 44.41)
- University of Debrecen (Score: 44.4)
- University of Maine, Orono (Score: 44.4)
- Graz University of Technology (Score: 44.4)
- Gifu University (Score: 44.4)
- University of Jyväskylä (Score: 44.4)
- University of Paris 13 (Score: 44.4)
- University of Girona (Score: 44.4)
- Keele University (Score: 44.4)
- University of Poitiers (Score: 44.39)
- University of Insubria (Score: 44.39)
- Wuhan University of Technology (Score: 44.39)
- University of Pretoria (Score: 44.39)
- Banaras Hindu University (Score: 44.39)
- University of L'Aquila (Score: 44.38)
- University of Alicante (Score: 44.38)
- American University of Beirut (Score: 44.38)
- University of Ulster (Score: 44.38)
- Shanghai University (Score: 44.38)
- Comenius University in Bratislava (Score: 44.38)
- University of Vigo (Score: 44.38)
- University of Nevada, Las Vegas (Score: 44.38)
- Swinburne University of Technology (Score: 44.38)
- Tilburg University (Score: 44.37)
- University of Messina (Score: 44.37)
- Kaiserslautern University of Technology (Score: 44.37)
- University of Kent (Score: 44.37)
- University of Málaga (Score: 44.37)
- Loughborough University (Score: 44.37)
- National Technical University of Athens (Score: 44.37)
- Liverpool John Moores University (Score: 44.37)
- Sharif University of Technology (Score: 44.37)
- Birkbeck, University of London (Score: 44.37)
- University François Rabelais, Tours (Score: 44.37)
- University of Haifa (Score: 44.36)
- Roma Tre University (Score: 44.36)
- Masaryk University (Score: 44.36)
- University of Salerno (Score: 44.36)
- King Abdullah University of Science and Technology (Score: 44.36)
- Beihang University (Score: 44.35)
- Fuzhou University (Score: 44.35)
- Heriot-Watt University (Score: 44.35)
- China Medical University (Taiwan) (Score: 44.35)
- University of Cantabria (Score: 44.35)
- Rochester Institute of Technology (Score: 44.35)
- Royal College of Surgeons in Ireland (Score: 44.35)
- San Francisco State University (Score: 44.35)
- Sapporo Medical University (Score: 44.35)
- Indian Institute of Technology Kanpur (Score: 44.34)
- Johannes Kepler University of Linz (Score: 44.34)
- Czech Technical University in Prague (Score: 44.34)
- Marquette University (Score: 44.34)
- Missouri University of Science and Technology (Score: 44.34)
- Howard University (Score: 44.33)
- Aston University (Score: 44.33)
- École normale supérieure de Cachan (Score: 44.33)
- Jichi Medical University (Score: 44.33)
- Rutgers, The State University of New Jersey - Newark (Score: 44.33)
- Palacký University, Olomouc (Score: 44.33)
- Ankara University (Score: 44.33)
- University of Belgrade (Score: 44.33)
- Toho University (Score: 44.33)
- Kyoto Prefectural University of Medicine (Score: 44.33)
- Swansea University (Score: 44.32)
- Université de Namur (Score: 44.32)
- University of Szeged (Score: 44.32)
- Kitasato University (Score: 44.32)
- Hasselt University (Score: 44.32)
- University of Córdoba (Spain) (Score: 44.32)
- Åbo Akademi University (Score: 44.32)
- Tottori University (Score: 44.32)
- Kindai University (Score: 44.32)
- University of Castilla–La Mancha (Score: 44.31)
- University of Augsburg (Score: 44.31)
- Paul Valéry University, Montpellier III (Score: 44.31)
- University of Mons (Score: 44.31)
- Istanbul Technical University (Score: 44.31)
- University of Natural Resources and Life Sciences, Vienna (Score: 44.31)
- National University of La Plata (Score: 44.31)
- University of Calabria (Score: 44.31)
- University of Memphis (Score: 44.3)
- G. d'Annunzio University, Chieti-Pescara (Score: 44.3)
- University of Missouri–St. Louis (Score: 44.3)
- Beijing Institute of Technology (Score: 44.3)
- University of Évry Val d'Essonne (Score: 44.3)
- University of South Australia (Score: 44.3)
- University of Alabama in Huntsville (Score: 44.3)
- University of Salzburg (Score: 44.3)
- University of Mississippi Medical Center (Score: 44.29)
- National Research Nuclear University MEPhI (Score: 44.29)
- Chung-Ang University (Score: 44.29)
- Kaohsiung Medical University (Score: 44.29)
- University of Neuchâtel (Score: 44.29)
- University of Yamanashi (Score: 44.29)
- Yamagata University (Score: 44.29)
- New Jersey Institute of Technology (Score: 44.28)
- East Carolina University (Score: 44.28)
- University of Hyogo (Score: 44.28)
- University of Picardie Jules Verne (Score: 44.28)
- University of Salento (Score: 44.28)
- Northern Arizona University (Score: 44.28)
- Miguel Hernández University of Elche (Score: 44.28)
- University of Tehran (Score: 44.28)
- Blaise Pascal University (Score: 44.28)
- Yeungnam University (Score: 44.27)
- Kurume University (Score: 44.27)
- Institut national des sciences Appliquées de Lyon (Score: 44.27)
- Saga University (Score: 44.27)
- Chongqing University (Score: 44.27)
- Jikei University School of Medicine (Score: 44.27)
- Second Military Medical University (Score: 44.27)
- Jawaharlal Nehru Centre for Advanced Scientific Research (Score: 44.27)
- University of North Texas, Denton (Score: 44.27)
- Ege University (Score: 44.27)
- Mie University (Score: 44.27)
- École Polytechnique de Montréal (Score: 44.27)
- AGH University of Science and Technology (Score: 44.26)
- University of Electronic Science and Technology of China (Score: 44.26)
- University of Stirling (Score: 44.26)
- University of Greifswald (Score: 44.26)
- National Polytechnic Institute (Score: 44.26)
- Jacobs University Bremen (Score: 44.26)
- Capital Medical University (Score: 44.26)
- Norwegian University of Life Sciences (Score: 44.26)
- Michigan Technological University (Score: 44.25)
- Vilnius University (Score: 44.25)
- North Dakota State University - Main Campus (Score: 44.25)
- University of Hohenheim (Score: 44.25)
- University of North Carolina at Charlotte (Score: 44.25)
- Zhengzhou University (Score: 44.25)
- Cairo University (Score: 44.25)
- University of Caen Lower Normandy (Score: 44.25)
- Saitama Medical University (Score: 44.25)
- University of Murcia (Score: 44.24)
- Showa University (Score: 44.24)
- University of Oldenburg (Score: 44.24)
- Magna Græcia University of Catanzaro (Score: 44.24)
- National Sun Yat-sen University (Score: 44.24)
- Nanjing University of Science and Technology (Score: 44.24)
- University of Concepción (Score: 44.23)
- Chungbuk National University (Score: 44.23)
- Taipei Medical University (Score: 44.23)
- Jaume I University (Score: 44.23)
- Bowling Green State University (Score: 44.23)
- Nanjing University of Technology (Score: 44.22)
- University of New England (Australia) (Score: 44.22)
- Kangwon National University (Score: 44.22)
- Inje University (Score: 44.22)
- Aberystwyth University (Score: 44.22)
- University of Technology, Sydney (Score: 44.22)
- University of Franche-Comté (Score: 44.22)
- University of Sassari (Score: 44.21)
- Chiang Mai University (Score: 44.21)
- Budapest University of Technology and Economics (Score: 44.21)
- University of Maribor (Score: 44.21)
- University of Bradford (Score: 44.21)
- University of Perpignan Via Domitia (Score: 44.21)
- Florida Institute of Technology (Score: 44.21)
- University of Brighton (Score: 44.21)
- University of Massachusetts Boston (Score: 44.21)
- Rio de Janeiro State University (Score: 44.21)
- Nagoya Institute of Technology (Score: 44.2)
- Jiangnan University (Score: 44.2)
- Murdoch University (Score: 44.2)
- University of Wales, Trinity Saint David (Score: 44.2)
- University of Rouen (Score: 44.2)
- The Catholic University of America (Score: 44.2)
- Wright State University - Dayton (Score: 44.2)
- Dankook University (Score: 44.2)
- Clarkson University (Score: 44.19)
- University of Regina (Score: 44.19)
- Boğaziçi University (Score: 44.19)
- Kōchi University (Score: 44.19)
- University of Miyazaki (Score: 44.19)
- University of Electro-Communications (Score: 44.19)
- University of Valladolid (Score: 44.19)
- Bilkent University (Score: 44.19)
- Dublin City University (Score: 44.19)
- University of South Alabama (Score: 44.19)
- Sofia University (Score: 44.19)
- Ocean University of China (Score: 44.19)
- King Fahd University of Petroleum and Minerals (Score: 44.19)
- University of Veterinary Medicine Vienna (Score: 44.19)
- University of Alcalá (Score: 44.18)
- Hunter College (Score: 44.18)
- All India Institute of Medical Sciences, New Delhi (Score: 44.18)
- Gazi University (Score: 44.18)
- National University of Ireland, Maynooth (Score: 44.18)
- Tehran University of Medical Sciences (Score: 44.18)
- University of the Ryukyus (Score: 44.18)
- Florida Atlantic University (Score: 44.17)
- University of Siegen (Score: 44.17)
- Huazhong Agricultural University (Score: 44.17)
- University of Angers (Score: 44.17)
- University of Seoul (Score: 44.17)
- Brock University (Score: 44.17)
- Fukuoka University (Score: 44.17)
- Hamamatsu University School of Medicine (Score: 44.17)
- Nanjing Normal University (Score: 44.17)
- National Chung Cheng University (Score: 44.17)
- Nanjing Agricultural University (Score: 44.16)
- University of the Republic (Uruguay) (Score: 44.16)
- Sejong University (Score: 44.16)
- Makerere University (Score: 44.16)
- University of New Brunswick (Score: 44.16)
- Northeastern University (China) (Score: 44.16)
- University of Extremadura (Score: 44.16)
- RMIT University (Score: 44.16)
- Royal Veterinary College, University of London (Score: 44.16)
- Chung Yuan Christian University (Score: 44.16)
- University of Osnabrück (Score: 44.15)
- Northwest University (China) (Score: 44.15)
- Chosun University (Score: 44.15)
- University of Orléans (Score: 44.15)
- Jean Monnet University (Score: 44.15)
- École centrale de Lyon (Score: 44.15)
- University of Western Sydney (Score: 44.15)
- Hefei University of Technology (Score: 44.15)
- University of Massachusetts Lowell (Score: 44.15)
- Manchester Metropolitan University (Score: 44.14)
- Nanjing Medical University (Score: 44.14)
- Kyoto Institute of Technology (Score: 44.14)
- Shanghai Normal University (Score: 44.14)
- Southwest University (Score: 44.14)
- Adam Mickiewicz University in Poznań (Score: 44.14)
- University of Calcutta (Score: 44.14)
- University of Pécs (Score: 44.14)
- Queens College, City University of New York (Score: 44.14)

## 7. Cleanup

Close the database connection properly.

In [30]:
# Close the database connection
conn.close()
print("Database connection closed.")

Database connection closed.